<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Demo Admin</title>
    <%= stylesheet_pack_tag 'client' %>
  </head>
  <body>
    <div id="simulated-content" />
    <div id="admin-hook" />
    <%= javascript_pack_tag "admin" %>
  </body>
</html>
