<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Demo Client</title>
    <%= stylesheet_pack_tag 'admin' %>
  </head>
  <body>
    
    <%= javascript_pack_tag "admin" %>
  </body>
</html>
