$blueThemeColor: rgb(60, 170, 249);

#admin-hook {

  .header{
    height : 70px;
    .nav-item {
      cursor: pointer;
    }
  }

  .main-wrapper{
    margin-top:20px;
  }

  .js-snippet{
    width: 100%;
    min-height: 240px;
    background-color: #cdcdcd;
    color: #000;
  }

  .nav-link.active{
    span{
      padding-bottom: 3px;
      border-bottom:2px solid #fff;
    }
  }

  .hidden{
    display: none;
  }

  .loading-indicator{
    text-align: center;
    display: flex;
    justify-content: center;
  }

  #content-wrapper {
    padding: 0 50px;
    height: 100%;
    .ticket-row, .feedback-row {
      margin: 0 -50px;
      padding: 15px 20px;
      cursor: pointer;
      background-color: #fff;
      position: relative;
      border-bottom: 1px solid #d6d6d6;
      .row-name {
        padding-left: 10px;
        position: relative;
      }
      .row-email {
        padding-left: 10px;
        position: relative;
      }
      .row-message {
        padding-left: 10px;
        position: relative;
      }
    }
  }

  .close-error-icon::after {
    content: "\2716";
    cursor: pointer;
    margin: 0px 10px;
  }

  .btn-login {
    width:100%;
  }
  .page-wrap {
    background-color: #3399ff;
    height: 100vh;

    .page-content {
      padding: 50px 0px;

      .form-header {
        text-align: center;
        color: #ffffffe8;
      }

      .center-form {
        margin: 30px auto 10px auto;
        border-radius: 5px;
        text-align: center;
        border: 0;
        color: #fff;
        padding: 40px;
        max-width: 420px;
        background: #fff;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
          0 6px 6px rgba(0, 0, 0, 0.23);

        .form-section {
          margin-top: 25px;
        }
      }
      .links-section {
        text-align: center;
        .btn {
          a {
            color: #fff;
            font-size: 14px;
          }
        }
      }
    }
  }

  .floating-notifications{
    position: absolute;
    right: 0;
    width: 360px;
    text-align: center;
    margin: 5px;
    z-index: 1;
  }

  .content-header {
    font-size: 20px;
    margin: 20px 0px;
  }

  .hint-text {
    font-size: 10px;
  }

  .content-text {
    font-size: 15px;
    margin: 10px 0px;
  }

  button.sign-out {
    background: transparent;
    padding: 0;
    border : 0;
  }
}
