.article-block{
    margin: 0 10px;

    .article-save-edit{
        flex-direction: row-reverse;
        button{
            margin: 5px;
        }
    }

    .article-title-content-block{
        flex-direction: column;
        input {
            width:100%;
        }
        .article-content{
            flex-direction: column;
        }
    }
    .article-meta-data-block{
        div{
            padding: 5px 0px;
        }
        #create-article{
            bottom: 0;
            position: absolute;
        }
        #cancel-create-article {
            bottom: 0;
            position: absolute;
            left: 150px;
        }
        .multi-select{
            padding: 0px 25px;
            .checkbox {
                input {
                    margin: 0 10px 0 0;
                }
                
            }
            label{
                color:#000;
                max-width: 200px;
            }
        }
    }
    .article-status-block{
        div{
            float: left;
            padding-right: 10px;
            font-weight: bold;
        }
        span.online-status{
            color: green
        }
        span.offline-status{
            color: red
        }
        button{
            float: right
        }

    }
    trix-editor{
        min-height:500px;
    }
    

    
}
