@import "vars";

#acehelp-hook{
    font-family: proxima-nova, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    text-align: center;

    #mini-view{
        position: fixed;
        width: 100px;
        height: 100px;
        top: 50%;
        right: 0px;
        transform: translateY(-50%);
        background-color: rgb(60, 170, 249);
        border-radius: 50%;
        text-align: center;
        color: #fff;
        font-size: 80px;
    }

    #max-view{
        position: fixed;
        top: 0;
        background: #fff;
        height: 100%;
        width: 720px;
        box-shadow: 0 0 50px 0px rgb(153, 153, 153);
        font-family: proxima-nova, Arial, sans-serif;

        .row-view{
            padding: 20px 10px; position: relative;
        }
        
    }

    .blueThemeBG{
        background-color: $blueThemeColor;
    }

    .clickable{
        cursor: pointer;          
    }
}
        