#acehelp-hook{
    #max-view{
        .ah-search-bar{
            display: flex;
            height: 50px;
            justify-items: center;
            justify-content: center;

            input[type=text]{
                max-width: 84%;
                flex-grow: 1;
            }

            svg {
                width: 20px;
                padding: 0 10px 10px;
                color: #fff;
            }
        }

        
    }
    
}
