<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Demo Client</title>
        <%= stylesheet_pack_tag 'application' %>
	</head>
    <body>
    <div id="simulated-content">
        <h1>Lorem Ipsum</h1>
        <h4>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</h4>
        <div id="lipsum">
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel neque et nisi auctor tempus imperdiet id lacus. Nam vitae ullamcorper quam. Sed vulputate lacus vel feugiat rutrum. Aliquam imperdiet augue mauris, non efficitur felis aliquam a. Suspendisse euismod venenatis metus ut suscipit. Donec iaculis nisi ac purus lobortis euismod. Suspendisse potenti. Nulla et ligula dui. Duis non gravida nulla, eu laoreet nisl. Pellentesque vel justo molestie, imperdiet dui at, feugiat dolor.
            </p>
            <p>
            Cras vitae orci hendrerit, iaculis mauris in, faucibus tellus. Suspendisse ullamcorper ex laoreet augue euismod, non ultrices sapien ornare. Quisque hendrerit velit ac dui tincidunt sodales. Cras eleifend cursus lobortis. Praesent aliquam euismod commodo. Donec volutpat luctus feugiat. Sed commodo nulla sed semper suscipit. Curabitur risus eros, lacinia pellentesque elementum sed, tincidunt sit amet sem. Vivamus suscipit varius semper. Nunc et ipsum ac ex imperdiet consequat. Vestibulum dictum nunc et nulla fermentum commodo.
            </p>
            <p>
            Praesent blandit metus varius aliquet eleifend. Curabitur sit amet pretium eros, nec ornare lorem. Praesent ex ligula, ultricies ut consectetur in, rutrum nec nibh. Suspendisse ultricies sem nisi, quis faucibus diam pretium eu. Duis tempus orci sed tellus gravida feugiat. Sed id quam augue. Nunc tempor ex lacus.
            </p>
            <p>
            Nam lectus quam, blandit in ante vel, maximus porttitor metus. Aenean non felis congue, pretium ex eget, ultrices justo. Mauris congue faucibus turpis quis ullamcorper. Vivamus nec venenatis orci, ac facilisis metus. Maecenas ac vestibulum nisl, quis consequat diam. Vestibulum efficitur molestie urna, quis vulputate risus interdum quis. Phasellus rutrum neque non neque aliquam, eget bibendum dui facilisis. Nulla luctus vitae magna quis tempus. Suspendisse posuere massa arcu, nec laoreet elit sollicitudin ac. Aenean sollicitudin finibus dapibus. Curabitur at erat mi. Proin varius ornare lectus, in tempus urna eleifend sed. Suspendisse eleifend venenatis tincidunt. Nullam tincidunt sapien erat, non porta erat pellentesque at. Mauris non sapien vestibulum, hendrerit nisi et, tincidunt tellus.
            </p>
            <p>
            Pellentesque lacinia, dolor vel porttitor commodo, risus sem scelerisque velit, dignissim ullamcorper erat est a ex. Fusce eu quam non enim molestie scelerisque a a nulla. Nam libero neque, blandit eget suscipit at, blandit et lorem. Sed sit amet lacus vel lorem tincidunt maximus vitae sit amet diam. Pellentesque sed justo non ligula vestibulum dapibus. Ut vel arcu et purus pulvinar pellentesque. Integer ac aliquam libero. Ut laoreet neque lacus, aliquam blandit turpis lacinia vitae. Donec vehicula nulla vitae turpis consectetur tincidunt eget ut dolor. Integer vestibulum venenatis ex. Quisque in semper dolor. Nam mollis est faucibus hendrerit pulvinar.
            </p>
            <p>
            Aliquam tincidunt scelerisque sapien, cursus semper felis consequat a. Nulla placerat lobortis purus, eu tempus nunc commodo nec. Morbi a erat iaculis, sagittis lorem facilisis, facilisis lorem. Vivamus at nunc nec mauris suscipit vehicula. Vivamus mattis ut augue placerat feugiat. Ut tincidunt eros eget felis sollicitudin, sed ullamcorper tortor vehicula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean eu augue luctus, vehicula ante ac, convallis turpis. Vivamus quis facilisis enim. Duis condimentum urna dolor, dignissim rutrum nibh fringilla vitae. Ut congue dignissim lorem, non dapibus dui semper posuere.
            </p>
            <p>
            Duis eu nisl id neque hendrerit malesuada. Aenean eu tortor ornare, sagittis diam id, porttitor ipsum. Proin venenatis urna non diam viverra porttitor. Nulla vitae rhoncus eros. Donec bibendum, arcu non pulvinar aliquet, sapien arcu feugiat massa, quis sagittis lorem felis eget neque. Vivamus imperdiet sem eu nunc pellentesque, nec suscipit erat sollicitudin. Morbi sagittis dapibus neque, eu accumsan ex pharetra eu.
            </p>
            <p>
            Cras elementum dignissim justo, in dictum turpis cursus at. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer pretium venenatis semper. In hac habitasse platea dictumst. Aliquam augue ex, pretium at maximus et, fermentum ut mi. Quisque dignissim sit amet enim a pulvinar. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam hendrerit erat quam, nec porttitor eros laoreet vel. Etiam vehicula mauris nec tortor pulvinar feugiat. Praesent aliquet ac ex feugiat porta. Morbi volutpat leo tellus, id semper mauris egestas eu. Mauris et hendrerit sapien.
            </p>
            <p>
            Quisque ut tortor quis lacus porta placerat. Phasellus sit amet consequat arcu. Nam a enim facilisis, dignissim tortor vitae, viverra ante. Curabitur in imperdiet nisl. Praesent laoreet vehicula mauris non euismod. Nullam ac mauris hendrerit, laoreet risus in, vestibulum enim. Nam congue viverra elementum. Nulla vel egestas elit, quis viverra mi. Phasellus sed pharetra sapien, quis pretium augue. Sed tempor, mi non venenatis consectetur, nulla ex ornare justo, in aliquam lacus lacus eget ipsum. Curabitur volutpat ultricies mollis.
            </p>
            <p>
            Nunc porttitor lacus eget orci gravida, id sodales tortor feugiat. Quisque ultrices aliquet nisl a mattis. Aenean et facilisis risus, at tristique ligula. Aenean sed varius arcu, quis gravida mauris. Vivamus scelerisque nisi nisi, in bibendum risus suscipit sed. Donec sodales, eros et dapibus commodo, mauris leo fringilla massa, id volutpat ante massa scelerisque orci. Aliquam neque ipsum, consectetur consectetur nulla nec, mollis maximus ligula. Maecenas ornare, sem eu viverra efficitur, nunc lorem condimentum neque, bibendum pellentesque enim tortor quis ante. Aenean eu aliquam sapien, eu vestibulum metus. Mauris urna purus, viverra eget est at, egestas vulputate tellus. Integer suscipit, est non vulputate auctor, magna massa commodo lacus, quis tempor diam erat a eros. Phasellus blandit placerat eros, at dictum lacus lacinia ac. Nullam ac rhoncus turpis. Aenean felis nisl, egestas sit amet egestas eu, vehicula eget leo. Suspendisse rhoncus libero sed purus aliquet, sed imperdiet dolor sodales. Ut sed leo non quam lacinia molestie quis sed tellus.
            </p>
            <p>
            In ullamcorper dignissim ipsum, vel rhoncus libero consequat id. Maecenas fermentum tempus nulla, sed aliquet tortor mattis vel. Phasellus posuere ultricies neque eget pharetra. Duis porta viverra risus id egestas. Donec fringilla eu magna nec condimentum. Aliquam rhoncus lectus volutpat porttitor consectetur. Ut imperdiet, quam in aliquam imperdiet, ipsum nunc egestas nulla, id dictum nisi lorem ac nulla. Pellentesque sodales nulla quis dignissim rutrum. Cras commodo urna leo, a lacinia elit pellentesque vel. Cras sed ipsum eget mauris euismod vulputate sed vel quam. Nulla quis quam nec massa commodo placerat quis tincidunt turpis. Morbi in enim ipsum. Curabitur ac porttitor leo. Vivamus finibus vehicula hendrerit.
            </p>
            <p>
            Pellentesque gravida ac lectus eu suscipit. Aenean sodales, purus eu efficitur efficitur, lorem urna mollis sem, quis dignissim tortor enim eget eros. Ut ut ex at nisl convallis blandit. In tincidunt ipsum sit amet felis feugiat mollis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis sed elit est. Donec auctor condimentum ex, at dapibus felis hendrerit ut. Donec id posuere urna, sed iaculis felis.
            </p>
            <p>
            Suspendisse eu placerat sem, ut commodo libero. Donec posuere aliquet nulla. Vestibulum vehicula sapien justo, id sagittis ante imperdiet quis. Duis iaculis nec lorem non tempor. Nullam eu tristique nisi. Praesent leo velit, tempor et dapibus quis, molestie ac sem. Cras vel elit ac erat blandit ultricies eget viverra felis. Praesent gravida nisl ligula, et semper ex tempus non. Suspendisse lacinia nibh dolor, et faucibus magna viverra rutrum. Praesent finibus justo sed velit sodales sagittis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum ultricies dui sem, id accumsan dolor dictum eget. Donec sed ultricies augue. Nullam in dapibus quam, et mattis nulla. Interdum et malesuada fames ac ante ipsum primis in faucibus.
            </p>
            <p>
            Duis consequat nec diam in pellentesque. Quisque lorem orci, sagittis eu sodales non, commodo id urna. Vivamus tincidunt iaculis est, in fringilla turpis. Donec bibendum rhoncus erat non tincidunt. Mauris vel neque eleifend lacus pretium ullamcorper. Aenean facilisis porta diam vitae aliquam. Fusce ornare dignissim lacus, nec vehicula diam tristique vitae. Pellentesque imperdiet vel nisi ut pulvinar. Morbi commodo massa venenatis nisi accumsan ornare. Sed felis felis, laoreet vitae orci ut, feugiat posuere nibh. Sed convallis purus vel egestas tincidunt. Suspendisse ut consectetur lectus. Suspendisse vel tellus et velit sodales sagittis ut non erat. Donec ultricies metus nec velit molestie, at auctor dolor sollicitudin. Nunc vitae diam lorem. Phasellus ut faucibus nulla, sed tempus lectus.
            </p>
            <p>
            Aenean ac enim at nunc efficitur ultrices et facilisis nulla. Pellentesque gravida felis ut odio egestas, eget ultricies neque consequat. Mauris nec dignissim massa. Donec a dapibus quam, ac mattis sapien. Suspendisse volutpat, purus sed commodo hendrerit, mauris augue viverra erat, id volutpat leo ligula sed ipsum. Ut lobortis efficitur tempus. Sed convallis, enim at elementum sagittis, massa eros cursus urna, tempus pellentesque odio arcu a arcu. Vivamus ligula massa, pharetra at diam eget, blandit gravida libero.
            </p>
        </div>
    </div>
        <%= javascript_pack_tag "application" %>
	</body>
</html>
