<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="organization_key" value="<%= @organization.api_key%>">
		<title>Acehelp</title>
	</head>
    <body>
        <%= yield %>
    </div>
    <div id="admin-hook" />
	</body>
</html>
